include ../modules/header
include ../modules/menu

.classroom
    aside.classroom-sidebar
        a.classroom-sidebar-title(href='/cursos/'+course._id)
            h2=course.courseTitle
                span por #{course.courseAuthor}
        if(!course.courseUnits[0])
            p Não há unidades cadastradas.
        - var unitNumber = 0
        if(course.courseUnits[0])
            each courseUnit in course.courseUnits
                - unitNumber = unitNumber + 1
                h4.classroom-sidebar-unit-title Unidade #{unitNumber} - #{courseUnit.unitTitle}
                if(courseUnit.videos[0])
                    h5.classroom-sidebar-unit-subtitle Vídeos
                    ul.classroom-sidebar-unit-itens
                        each courseVideo in courseUnit.videos
                            li
                                a(href="#")=courseVideo.videoTitle
                if(courseUnit.files[0])
                    h5.classroom-sidebar-unit-subtitle Anexos
                    ul.classroom-sidebar-unit-itens
                        each courseFile in courseUnit.files
                            li
                                a(href="#")=courseFile.fileTitle
                if(courseUnit.test[0])
                    h5.classroom-sidebar-unit-subtitle Provas
                    ul.classroom-sidebar-unit-itens
                        each courseTest in courseUnit.test
                            li
                                a(href='/cursos/'+course._id+'/unidade/'+courseUnit._id+'/prova/'+courseTest._id)
                                    span=courseTest.testTitle

    .classroom-main
        if(video)
            .classroom-main-video
                if(video.videoOrigin == 'yt')
                    iframe.classroom-video(src='https://www.youtube.com/embed/'+video.videoSource+'?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
                    h2.classroom-video-title=video.videoTitle