include ../modules/header
include ../modules/menu

.classroom
    aside.classroom-sidebar
        a.classroom-sidebar-title(href='/cursos/'+course._id)
            h2=course.courseTitle
                span por #{course.courseAuthor}
        if(!course.courseUnits[0])
            p Não há unidades cadastradas.
        - var unitNumber = 0
        if(course.courseUnits[0])
            each courseUnit in course.courseUnits
                - unitNumber = unitNumber + 1
                h4.classroom-sidebar-unit-title Unidade #{unitNumber} - #{courseUnit.unitTitle}
                if(courseUnit.videos[0])
                    h5.classroom-sidebar-unit-subtitle Vídeos
                    ul.classroom-sidebar-unit-itens
                        each courseVideo in courseUnit.videos
                            - var checkCurrentVideo = false
                            if(video)
                                - checkCurrentVideo = (courseVideo._id == video._id)
                            li(class=checkCurrentVideo ? '-active' : '')
                                a(href='/cursos/'+course._id+'/sala-de-aula/'+courseUnit._id+'/video/'+courseVideo._id)=courseVideo.videoTitle
                if(courseUnit.files[0])
                    h5.classroom-sidebar-unit-subtitle Anexos
                    ul.classroom-sidebar-unit-itens
                        each courseFile in courseUnit.files
                            li
                                a(href="/uploads/"+courseFile.fileSource target="_blank")=courseFile.fileTitle
                if(courseUnit.test[0])
                    h5.classroom-sidebar-unit-subtitle Provas
                    ul.classroom-sidebar-unit-itens
                        each courseTest in courseUnit.test
                            - var checkCurrentTest = false
                            if(test)
                                - var checkCurrentTest = (courseTest._id == test._id)
                            li(class=checkCurrentTest ? '-active' : '')
                                a(href='/cursos/'+course._id+'/sala-de-aula/'+courseUnit._id+'/test/'+courseTest._id)
                                    span=courseTest.testTitle

    .classroom-main
        if(video)
            .classroom-main-video
                if(video.videoOrigin == 'yt')
                    iframe.classroom-video(src='https://www.youtube.com/embed/'+video.videoSource+'?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
                    h2.classroom-video-title=video.videoTitle
                if(video.videoOrigin == 'vm')
                    iframe.classroom-video(src='https://player.vimeo.com/video/'+video.videoSource, frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                    h2.classroom-video-title=video.videoTitle
                if(video.videoOrigin == 'mp4')
                    video.classroom-video(controls)
                        source(
                            src=video.videoSource
                            type="video/mp4"
                        )
                    h2.classroom-video-title=video.videoTitle
                    
        
        if(test)
            .test-container
                h1 Prova: #{test.testTitle}
                h3 Curso: #{course.courseTitle} - Unidade #{unit.unitTitle}
                form(method="post" action='/cursos/'+course._id+'/sala-de-aula/'+unit._id+'/test/'+test._id)
                    if(test.questions[0])
                        - var questionNumber = 0
                        each question in test.questions
                            - questionNumber = questionNumber + 1
                            h4 #{questionNumber} - #{question.questionStatement}
                            each answer in question.answers
                                input.test-answer(type="radio" value=answer._id id=answer._id name='question'+questionNumber)
                                label(for=answer._id)=answer.answerTitle
                                br
                        input(type="submit" value="Enviar")

        if(testResult)
            .test-container
                h1 Resultado da prova #{testResult.testTitle}