include ../modules/header
include ../modules/menu

.centralized-container
    h2 Curso #{course.courseTitle}
    h3 Adicionar vídeo na unidade #{unit.unitTitle}

    form(method="post" action="/cursos/"+course._id+"/unidade/"+unit._id+"/editar-video/"+video._id)
        label(for="videoTitle") Título do vídeo
        input(type="text" value=video.videoTitle name="videoTitle")
        br
        label(for="videoOrigin") Origem do vídeo
        select(name="videoOrigin" value=video.videoOrigin)
            option(value="yt") YouTube
            option(value="vm") Vimeo
        br
        label(for="videoSource") ID do vídeo
        br
        span Você vai encontrar no Youtube: https://www.youtube.com/watch?v=[idDoVideo]
        br
        span e no vimeo: http://vimeo.com/[idDoVideo]
        input(type="text" value=video.videoSource name="videoSource")
        br
        input(type="submit" value="Adicionar novo vídeo")